{% extends 'index.html' %}
{% block content %}

    <h1 style="text-align: center">Welcome To BankLoan</h1>
    <h2 style="text-align: center">Get The Loan You Want</h2>
    <h2 style="text-align: center"><a href="{% url 'home' %}">Home</a></h2>
    <h2 style="text-align: center"><a href="{% url 'loan_request' %}">Request Loan</a></h2>
    <h2 style="text-align: center"><a href="{% url 'user_detail' %}">User Detail</a></h2>
    <h2 style="text-align: center"><a href="{% url 'login' %}">Admin Login</a></h2>
{% endblock %}

